body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  color: #bbb;
}

h1 span {
  font-size: 20px;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  *zoom: 1;
}

.col-half {
  float: left;
  width: 50%;
}
