body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #bbb;
}

h1 span {
  font-size: 20px;
}

.container {
  width: 80%;
  max-width: 740px;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}


@media (min-width: 481px) {
  body {
    padding-top: 0;
  }

  .col-half {
    float: left;
    width: 50%;
  }
}
